Flask~=2.2.2
bcrypt~=4.0.1
stripe~=5.0.0
SQLAlchemy== 2.0.4
phonenumbers~=8.13.4
fpdf
fpdf==1.7.2
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
luhn==0.2.0
MarkupSafe==2.1.2
phonenumbers==8.13.6
PyJWT==2.6.0
requests==2.28.2
six==1.16.0
SQLAlchemy==2.0.3
stripe==5.1.1
typing_extensions==4.5.0
urllib3==1.26.14
Werkzeug==2.2.3
flask_cors